/* Modified core of css */

/* footer on bottom */
html {
    position: relative;
    min-height: 100%;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}

/* remove data table margin */
table.dataTable {
    margin: 0px !important;
}

/**/
table.dataTable thead th {
    border-top: none;
}


/* a href remove decoration (underline etc)*/
a {
    text-decoration: none !important; 
}

/* cursor */
.cur-pointer {
	cursor: pointer;
}
.cur-noselect{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* shadow on scroll */
.shadow-scroll-active {
     box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);   
}

/* custom coloer (nindya karya) */
.active-nk {
	color: #E85D25 !important;
}
.active-nk:hover {
	color: #E85D25 !important;
}

.text-nk {
	color: #E85D25 !important;
}

.border-nk {
	border-color: #E85D25 !important;
}

.btn-nk {
	background-color: #E85D25 !important;
	color: white !important;
}
.btn-nk:hover {
	background-color: #C42228 !important;
	color: white !important;
}

.btn-outline-nk {
	background-color: #FFFFFF !important;
	border-color: #E85D25 !important;
	color: #E85D25 !important;
}
.btn-outline-nk:hover {
	background-color: #E85D25 !important;
	color: white !important;
}

.bg-nk {
	background-color: #E85D25 !important;
	color: white !important;
}

/* container holding the image and the text */
.over-container {
  position: relative;
  text-align: center;
  color: white;
}

/* bottom left text */
.over-bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* top left text */
.over-top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* top right text */
.over-top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* bottom right text */
.over-bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* centered text */
.over-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}